.register {
    height: 100vh;
    overflow: auto;
}

.register-background {
    background-image: url("../../images/register-background.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: -1;
}