.add-or-edit-metric-section > .wrap > .title {
    padding-bottom: 20px;
    padding-top: 20px;
}

.add-or-edit-metric-section > .wrap > .metric-form {
    padding-bottom: 20px;
    padding-top: 20px;
}