/*body, html {
    font-weight: 100;
    margin: 0;
}

.code {
    border-right: 2px solid #000000;
    font-size: 26px;
    padding: 0 15px 0 15px;
    text-align: center;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.full-height {
    height: 100vh;
}

.message {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.position {
    position: relative;
}*/